body {
      text-align: center;
  }
  
#title {
      font-weight: bold;
      text-decoration: underline;
      background-color: red;
}

#NBA {
      color: orange;
}

#NFL {
      color: green;
}

#MLB {
      color: red;
}

#NHL {
      color: blue;
}

.images {
      width: 75%;  
      height: auto;  
      max-width: 500px; 
  }

.navbar {
    background-color: red;
}

.navbar ul {
    /* 
          Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /* 
          No padding.
    */
    padding: 0;
    /* 
          For navbars use background color that stands out.
    */
    background-color: blue;
    text-align: center;
  }

  .navbar li {
    width: 150 px;
    background-color: #000;
    border: 10px solid white;
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
  }
  
  /* 
      Style links in navbar.
  */
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  